<div>
    <h2>Services</h2>

    <mat-form-field appearance="outline">
        <mat-label>Web Service Group</mat-label>
        <mat-select (selectionChange)="onSelectGroup($event)">
            <mat-option *ngFor="let group of groups" [value]="group.id">
                {{ group.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="selectedGroup && serviceDefinitions.length === 0">
        <em>No web services defined.</em>
    </div>

    <div *ngIf="selectedGroup && serviceDefinitions.length > 0" fxLayout="row wrap">
        <mat-card class="iledash-service-card" *ngFor="let serviceDefinition of serviceDefinitions">
            <mat-card-title>
                <mat-icon *ngIf="serviceDefinition.icon">{{ serviceDefinition.icon }}</mat-icon>
                {{ serviceDefinition.name }}
            </mat-card-title>
            <mat-card-content *ngIf="serviceDefinition.description">
                {{ serviceDefinition.description }}
            </mat-card-content>
            <mat-card-content *ngIf="!serviceDefinition.description">
                <em>No description available.</em>
            </mat-card-content>
            <mat-card-actions fxLayout>
                <span class="spacer">&nbsp;</span>
                <button mat-icon-button matTooltip="start service" (click)="onStartService(serviceDefinition)">
                    <mat-icon>play_arrow</mat-icon>
                </button>
                <button mat-icon-button matTooltip="show instances" (click)="onShowRunningInstances(serviceDefinition)">
                    <mat-icon>workspaces</mat-icon>
                </button>
                <button mat-icon-button matTooltip="edit service definition" (click)="onEditService(serviceDefinition)">
                    <mat-icon>create</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="moreActionsMenu" matTooltip="more actions">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #moreActionsMenu="matMenu">
                    <button mat-menu-item (click)="onDeleteService(serviceDefinition)">
                        delete service definition
                    </button>
                    <button mat-menu-item (click)="onEditSettings(serviceDefinition)">edit settings</button>
                    <button mat-menu-item (click)="onEditConfiguration(serviceDefinition)">edit configuration</button>
                </mat-menu>
            </mat-card-actions>
        </mat-card>
    </div>

    <div style="vertical-align: middle">
        <button mat-icon-button matTooltip="add service definition" (click)="onAddService()">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
        &nbsp;
        <span>Add new service</span>
    </div>
</div>
