<div>
    <h2>Settings ({{ scope }})</h2>

    <ag-grid-angular
        #agGrid
        style="min-width: 600px"
        class="ag-theme-alpine"
        [rowData]="settings"
        [columnDefs]="columnDefs"
        domLayout="autoHeight"
        [context]="gridContext"
    >
    </ag-grid-angular>

    <div style="margin-top: 25px; vertical-align: middle">
        <button mat-icon-button matTooltip="add setting" (click)="onAddSetting()">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
        &nbsp;
        <span>Add new setting</span>
    </div>
</div>
