<div (keyup.enter)="ok()" (keyup.escape)="cancel()" class="iledash-config-dialog">
    <h2 mat-dialog-title>{{ title }}</h2>

    <mat-dialog-content>
        <div fxLayout="column" fxLayoutGap="20px">
            <div fxLayout fxLayoutAlign="start center" *ngIf="instanceConfigurations.length > 0">
                <button
                    mat-icon-button
                    (click)="onShowPreviousConfiguration()"
                    [disabled]="currentConfiguration === serviceConfiguration"
                >
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <span [hidden]="currentConfiguration === serviceConfiguration">{{
                    instanceConfigurations.indexOf(currentConfiguration)
                }}</span>
                <button
                    mat-icon-button
                    (click)="onShowNextConfiguration()"
                    [disabled]="
                        instanceConfigurations.length === 0 ||
                        currentConfiguration ===
                            instanceConfigurations[instanceConfigurations.length - 1]
                    "
                >
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
                <span>{{ instanceConfigurations.length }} instance configuration(s)</span>
                <span *ngIf="currentConfiguration.job">
                    &nbsp;
                    <mat-icon matTooltip="{{ currentConfiguration.job }}"
                        >check_circle_outline</mat-icon
                    >
                </span>
            </div>
            <json-editor
                style="min-width: 400px; display: inline-block"
                [options]="jsonEditorOptions"
                [data]="configurationData"
                #editor
            ></json-editor>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button
            mat-icon-button
            matTooltip="delete configuration"
            [disabled]="
                !currentConfiguration ||
                !currentConfiguration.id ||
                currentConfiguration === serviceConfiguration
            "
            (click)="onDeleteConfiguration()"
        >
            <mat-icon>delete_outline</mat-icon>
        </button>
        <button
            mat-icon-button
            matTooltip="delete all unused instances"
            [disabled]="!instanceConfigurations || instanceConfigurations.length === 0"
            (click)="onDeleteInstances()"
        >
            <mat-icon>delete_forever</mat-icon>
        </button>
        <button
            mat-icon-button
            matTooltip="create new configuration instance"
            [disabled]="!currentConfiguration || !currentConfiguration.id"
            (click)="onNewInstance()"
        >
            <mat-icon>post_add</mat-icon>
        </button>
        <div class="spacer"></div>
        <button class="mat-raised-button" (click)="cancel()">cancel</button>
        <div class="gap" style="margin-right: 15px">&nbsp;</div>
        <button
            type="submit"
            class="mat-raised-button"
            (click)="ok()"
            [class.mat-primary]="editor.isValidJson()"
            [disabled]="!editor.isValidJson()"
        >
            save
        </button>
    </mat-dialog-actions>
</div>
