<div (keyup.enter)="close()" (keyup.escape)="close()">
    <h2 mat-dialog-title>Running Service Instances</h2>

    <mat-dialog-content class="iledash-instance-dialog-content">
        <div fxLayout="column" fxLayoutGap="20px">
            <div *ngIf="!instanceConfigurations || instanceConfigurations.length === 0; else instances">
                <em>No instances of this service running at the moment.</em>
            </div>
            <ng-template #instances>
                <div fxLayout fxLayoutAlign="start center">
                    <mat-list fxFlex>
                        <div
                            *ngFor="let config of instanceConfigurations"
                            fxLayout
                            fxLayoutAlign="space-between center"
                        >
                            <div>{{ config.job }}</div>
                            <button mat-icon-button matTooltip="stop instance" (click)="onStopInstance(config)">
                                <mat-icon>stop</mat-icon>
                            </button>
                        </div>
                    </mat-list>
                </div>
            </ng-template>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-icon-button matTooltip="refresh" (click)="onRefresh()"><mat-icon>refresh</mat-icon></button>
        <button
            mat-icon-button
            matTooltip="stop all running instances"
            [disabled]="!instanceConfigurations || instanceConfigurations.length === 0"
            (click)="onStopAllInstances()"
        >
            <mat-icon>stop</mat-icon>
        </button>
        <button mat-icon-button matTooltip="start instance" (click)="onStartInstance()">
            <mat-icon>play_arrow</mat-icon>
        </button>
        <div class="spacer"></div>
        <button class="mat-raised-button" (click)="close()">close</button>
    </mat-dialog-actions>
</div>
