<div>
    <h2>Overview</h2>
    <div fxLayout="row wrap" fxLayoutGap="25px">
        <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="25px">
            <div class="iledash-overview-diagram" fxLayout fxLayoutAlign="center center">
                <div *ngIf="!chartData">
                    <em>Chart data is loading ... </em>
                </div>
                <div *ngIf="chartData && runningInstances.length === 0 && notRunningCount === 0">
                    <em>No services running.</em>
                </div>
                <canvas
                    *ngIf="chartData && (runningInstances.length > 0 || notRunningCount > 0)"
                    #chart
                    class="iledash-overview-diagram"
                    baseChart
                    [data]="chartData"
                    [labels]="chartLabels"
                    [chartType]="chartType"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    (chartClick)="chartClicked($event)"
                >
                </canvas>
            </div>

            <div
                fxLayout
                fxLayoutAlign="space-between center"
                fxLayoutGap="5px"
                *ngIf="updateJob"
                class="iledash-overview-updater"
            >
                <mat-icon matTooltip="Job: {{ updateJob }}">check_circle_outline</mat-icon>
                <button mat-icon-button matTooltip="Stop update job" (click)="onStopUpdateJob()">
                    <mat-icon>stop</mat-icon>
                </button>
                <div>ILEDash status updater running.</div>
            </div>

            <div
                fxLayout
                fxLayoutAlign="space-between center"
                fxLayoutGap="5px"
                *ngIf="!updateJob"
                class="iledash-overview-updater"
            >
                <mat-icon style="color: red">error_outline</mat-icon>
                <button mat-icon-button matTooltip="Start update job" (click)="onStartUpdateJob()">
                    <mat-icon>play_arrow</mat-icon>
                </button>
                <div>ILEDash Status Updater not running.</div>
            </div>
        </div>

        <div *ngIf="listTitle">
            <h3 style="font-size: 125%; text-decoration: underline">{{ listTitle }}</h3>

            <app-running-instances-list
                *ngIf="showRunningInstancesList"
                [runningInstances]="runningInstances"
            ></app-running-instances-list>
            <app-not-running-instances-list
                *ngIf="showNotRunningInstancesList"
                [serviceDefinitions]="notRunningServices"
            ></app-not-running-instances-list>
        </div>
    </div>
</div>
