<mat-list>
    <mat-list-item *ngFor="let service of serviceDefinitions">
        <button mat-icon-button matTooltip="start instance" (click)="onStartInstance(service)">
            <mat-icon>play_arrow</mat-icon>
        </button>
        {{ service.name }}
    </mat-list-item>
</mat-list>
