<div (keyup.enter)="ok()" (keyup.escape)="cancel()">
    <h2 mat-dialog-title>Web Service Definition</h2>

    <mat-dialog-content class="iledash-service-dialog">
        <div fxLayout="column" fxLayoutAlign="space-between none">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input
                    #name="ngModel"
                    matInput
                    required
                    maxlength="50"
                    pattern="[a-zA-Z0-9 ]+"
                    [(ngModel)]="serviceDefinition.name"
                />
                <mat-error>No valid name</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Description</mat-label>
                <input
                    #description="ngModel"
                    matInput
                    maxlength="1000"
                    [(ngModel)]="serviceDefinition.description"
                />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Icon</mat-label>
                <input
                    #icon="ngModel"
                    matInput
                    maxlength="50"
                    pattern="[a-zA-Z0-9_]+"
                    [(ngModel)]="serviceDefinition.icon"
                />
                <mat-error>No valid material icon name</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Group</mat-label>
                <mat-select [(ngModel)]="serviceDefinition.group">
                    <mat-option *ngFor="let group of groups" [value]="group.id">
                        {{ group.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Submit Job Command</mat-label>
                <textarea
                    rows="3"
                    #submitJobTemplate="ngModel"
                    matInput
                    maxLength="1000"
                    [(ngModel)]="serviceDefinition.submitJobTemplate"
                ></textarea>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Autostart</mat-label>
                <input
                    type="number"
                    #autostart="ngModel"
                    matInput
                    min="0"
                    max="99999"
                    [(ngModel)]="serviceDefinition.autostart"
                />
                <mat-hint align="end">Number of instances started on startup</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Maximum # Instances</mat-label>
                <input
                    type="number"
                    #maxInstances="ngModel"
                    matInput
                    min="0"
                    max="99999"
                    [(ngModel)]="serviceDefinition.maxInstances"
                />
                <mat-hint align="end">Maximum number of instances</mat-hint>
            </mat-form-field>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">
        <button class="mat-raised-button" (click)="cancel()">cancel</button>
        <button
            type="submit"
            class="mat-raised-button"
            (click)="ok()"
            [class.mat-primary]="
                !name.invalid &&
                !autostart.invalid &&
                !maxInstances.invalid &&
                !icon.invalid &&
                serviceDefinition.group
            "
            [disabled]="
                name.invalid ||
                icon.invalid ||
                autostart.invalid ||
                maxInstances.invalid ||
                !serviceDefinition.group
            "
        >
            save
        </button>
    </mat-dialog-actions>
</div>
