<div>
    <h2>Service Groups</h2>

    <div *ngIf="groups.length === 0"><em>No web service groups available.</em></div>
    <div *ngIf="groups.length > 0" fxLayout="row wrap">
        <mat-card class="iledash-group" *ngFor="let group of groups">
            <mat-card-title>
                <mat-icon *ngIf="group.icon">{{ group.icon }}</mat-icon>
                {{ group.name }}
            </mat-card-title>
            <mat-card-content *ngIf="group.description">{{ group.description }}</mat-card-content>
            <mat-card-content *ngIf="!group.description">
                <em>No description available.</em>
            </mat-card-content>
            <mat-card-actions fxLayout>
                <span class="spacer">&nbsp;</span>
                <button mat-icon-button matTooltip="edit group" (click)="onEditGroup(group)">
                    <mat-icon>create</mat-icon>
                </button>
                <button mat-icon-button matTooltip="edit settings" (click)="onEditSettings(group)">
                    <mat-icon>list</mat-icon>
                </button>
                <button mat-icon-button matTooltip="delete group" (click)="onDeleteGroup(group)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div style="vertical-align: middle">
        <button mat-icon-button matTooltip="add group" (click)="onAddGroup()">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
        &nbsp;
        <span>Add new web service group</span>
    </div>
</div>
