<app-http-progress-bar></app-http-progress-bar>
<div fxLayout fxLayoutGap="25px">
    <app-main-menu></app-main-menu>

    <div fxLayout="column" class="iledash-content">
        <router-outlet></router-outlet>
    </div>
</div>
