<mat-list>
    <mat-list-item routerLink="overview">Overview</mat-list-item>
    <mat-list-item routerLink="services">Services</mat-list-item>
    <mat-list-item routerLink="groups">Groups</mat-list-item>
    <mat-list-item routerLink="settings">Settings</mat-list-item>
</mat-list>
