<div>
    <mat-dialog-content class="iledash-settings-dialog">
        <app-settings
            class="iledash-settings-table"
            [scope]="scope"
            [scopeId]="scopeId"
        ></app-settings>
    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">
        <button class="mat-raised-button" (click)="close()">close</button>
    </mat-dialog-actions>
</div>
