<div (keyup.enter)="ok()" (keyup.escape)="cancel()">
    <h2 mat-dialog-title>Web Service Group</h2>

    <mat-dialog-content>
        <div fxLayout="column" fxLayoutAlign="space-between none">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input
                    #name="ngModel"
                    matInput
                    required
                    maxlength="50"
                    pattern="[a-zA-Z0-9]+"
                    [(ngModel)]="group.name"
                />
                <mat-error>No valid name</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Description</mat-label>
                <input
                    #description="ngModel"
                    matInput
                    maxlength="100"
                    [(ngModel)]="group.description"
                />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Icon</mat-label>
                <input
                    #icon="ngModel"
                    matInput
                    maxlength="50"
                    pattern="[a-zA-Z0-9_]+"
                    [(ngModel)]="group.icon"
                />
                <mat-error>No valid material icon name</mat-error>
            </mat-form-field>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">
        <button class="mat-raised-button" (click)="cancel()">cancel</button>
        <button
            type="submit"
            class="mat-raised-button"
            (click)="ok()"
            [class.mat-primary]="!name.invalid && !icon.invalid"
            [disabled]="name.invalid || icon.invalid"
        >
            save
        </button>
    </mat-dialog-actions>
</div>
