<mat-list>
    <mat-list-item *ngFor="let instance of runningInstances"
        ><button mat-icon-button matTooltip="stop instance" (click)="onStopInstance(instance)">
            <mat-icon>stop</mat-icon>
        </button>
        {{ instance.serviceDefinition.name }} #{{ instance.id }} - {{ instance.job }}
    </mat-list-item>
</mat-list>
