/* You can add global styles to this file, and also import other style files */

@import "~jsoneditor/dist/jsoneditor.min.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
    flex: 1 1 auto;
}

.spin {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 3px solid rgba(139, 137, 137, 0.822);
    border-radius: 50%;
    border-top-color: rgb(73, 67, 67);
    animation: spin 2s ease-in-out infinite;
    -webkit-animation: spin 2s ease-in-out infinite;
}
@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
