<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content>
    <div>{{ description }}</div>
</mat-dialog-content>

<mat-dialog-actions
    fxLayout="row"
    fxLayoutGap="15px"
    fxLayoutAlign="end center"
    (keyup.enter)="ok()"
    (keyup.escape)="cancel()"
>
    <button class="mat-raised-button" (click)="cancel()">cancel</button>
    <button class="mat-raised-button mat-primary" (click)="ok()">ok</button>
</mat-dialog-actions>
