<div class="iledash-mainmenu-toolbar">
    <mat-toolbar color="primary" style="height: 100%">
        <mat-toolbar-row>ILEDash</mat-toolbar-row>
        <mat-toolbar-row>
            <div fxFlex fxLayout fxLayoutGap="15px" fxLayoutAlign="space-evenly center">
                <button mat-icon-button matTooltip="Authentication not yet supported">
                    <mat-icon>person</mat-icon>
                </button>
                <button mat-icon-button matTooltip="refresh" (click)="onRefresh()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-icon-button routerLink="overview">
                <mat-icon>dashboard</mat-icon><span class="iledash-main-menu-item">Overview</span>
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-icon-button routerLink="services">
                <mat-icon>settings</mat-icon><span class="iledash-main-menu-item">Services</span>
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-icon-button routerLink="groups">
                <mat-icon>settings_applications</mat-icon><span class="iledash-main-menu-item">Groups</span>
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-icon-button routerLink="settings">
                <mat-icon>list</mat-icon><span class="iledash-main-menu-item">Settings</span>
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row class="iledash-main-menu-item-last"> &nbsp; </mat-toolbar-row>
    </mat-toolbar>
</div>
