.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.iledash-mainmenu-toolbar {
    width: 200px;
    margin-bottom: 25px;
}

@media screen and (max-width: 599px) {
    .iledash-mainmenu-toolbar {
        margin-bottom: 0px;
    }
}

.iledash-mainmenu-user {
    vertical-align: middle;
    margin-right: 25px;
}

.iledash-mainmenu-home {
    margin-left: 25px;
    margin-right: 25px;
}

.iledash-main-menu-item {
    font-size: 120%;
    margin-left: 15px;
}

.iledash-main-menu-item-last {
    background: linear-gradient(-15deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%);
}
